extends layout/base.pug

block title
    title Quản lý tài khoản

block header
    link(rel='stylesheet' href='/assets_admin/css/taiKhoan.css')

block content  
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Tài khoản
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Tài khoản
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0.row 
                            .col-6 Danh sách tài khoản
                            .col-6.text-right 
                                a(href="./grantManager") 
                                    button.btn.btn-secondary Trao quyền quản lý khách sạn  
                    .card-body
                        .row.icon-examples
                            .col-12.pl-0.mb-4
                                .row
                                    .input-group.col-6
                                        input.form-control(type='text' id='foundByKey' value=foundByKey placeholder='Tìm theo họ tên')
                                        .input-group-append
                                            button.btn.btn-secondary(style='height: 45px;' id="filterAccountBtn")
                                                i.fa.fa-filter(aria-hidden='true')
                            input(type="hidden", id='managerRoles' value=managerStr)
                            input(type="hidden", id="token" value=token)
                        .row#containerAccount    
                            each acc in accounts
                                .col-lg-4.col-md-6.account
                                    div
                                        img.user-avatar(id="avatar"+acc._id src='/uploads/'+acc.avatar alt='')
                                    p
                                        b Tên đăng nhập: 
                                        span(id="username"+acc._id) #{acc.username}
                                    p
                                        b Tên: 
                                        span(id="hoTen"+acc._id) #{acc.ho_ten}
                                    p
                                        b Vai trò: 
                                        span(id="vaiTro"+acc._id) #{acc.ma_vai_tro.ten}
                                        input(type="hidden", id="maVaiTro"+acc._id value=acc.ma_vai_tro._id)
                                        input(type="hidden", id="gioiTinh"+acc._id value=acc.gioi_tinh ? 'Nam' : 'Nữ')
                                        input(type="hidden", id="email"+acc._id value=acc.email)
                                        input(type="hidden", id="sdt"+acc._id value=acc.so_dien_thoai)
                                    button.btn.btn-light.mt-2(onclick="ShowUserDetail('"+ acc._id +"')") Xem thêm
                            
                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center.mt-md-3.mb-md-0#containerPagiItem
                                li.page-item.disabled
                                    a.page-link(tabindex='-1' aria-disabled='true')
                                        i.fa.fa-chevron-left(aria-hidden='true')
                                -   for (var i=1; i<=amountShowPage; i++)
                                        if i == 1
                                            li.page-item.active
                                                a.page-link 1
                                        else
                                            li.page-item
                                                a.page-link(style="cursor:pointer;" onclick='ChoosePaginateItem('+ i +')') #{i}
                                li.page-item
                                    a.page-link(onclick='ChoosePaginateItem('+ pageTotal +')' title=pageTotal)
                                        i.fa.fa-chevron-right(aria-hidden='true')
        
        button(id='openModalBtn' hidden data-toggle='modal' data-target='#exampleModal')
        // Modal
        #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Thông tin tài khoản
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body.custom-modal
                        .row
                            .col-5
                                img(id='avatarModal' src='https://hinhanhdep.net/wp-content/uploads/2016/01/avatar-hoat-hinh-anime-chibi-10.jpg' alt='')
                            .col-7
                                .info
                                    span.title Tên đăng nhập: 
                                        span(id='usernameModal') abc
                                .info
                                    span.title Họ tên: 
                                        span(id='hoTenModal') Nguyễn Tấn Thịnh
                                .info
                                    span.title Giới tính: 
                                        span(id='gioiTinhModal') Nam
                                .info
                                    span.title Số điện thoại: 
                                        span(id='sdtModal') 0231458965
                                .info
                                    span.title Email: 
                                        span(id='emailModal') abc@gmail.com
                                .info.form-inline
                                    span.title Vai trò: 
                                    select.custom-select.ml-2(id='roleSelect')
                                        each role in roles 
                                            option(id='option'+role._id value=role._id) #{role.ten}

                                .info.custom-control.custom-checkbox(id='newHotelDiv' hidden)
                                    input#newHotel(type="checkbox" class='custom-control-input') 
                                    label(for="newHotel" class='custom-control-label') Tạo một khách sạn mới 
                    .modal-footer
                        button.btn.btn-success(type='button' onclick='UpdateRole()') Cập nhật
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
        
        // Footer
        include layout/footer.pug
        
block script
    script(src="/assets_admin/js/account.js")
    script.
        document.getElementById('accountNav').classList.add('active');