extends layout/base.pug

block title 
    <title>Thông tin cá nhân</title>

block header 
    <link rel="stylesheet" href="css/mycss/info-control.css">

block content
    // Breadcrumb Section Begin
    section.breadcrumb-section.set-bg(data-setbg='https://vcdn1-dulich.vnecdn.net/2019/11/21/2-1574339443.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BzU6f4wgVBm3R12CpyttVA')
        .container
            .row
                .col-lg-12.text-center
                    .breadcrumb__text
                        h2 Thông tin cá nhân
                        .breadcrumb__option
                            a(href='/') Trang chủ
                            span Thông tin cá nhân
    // Breadcrumb Section End

    // Blog Details Section Begin
    section.blog-details.spad(style='padding-top: 33px;')
        .container
            .row
                .col-lg-2.col-md-4.order-md-1.order-1
                    .infoNav.active-nav(onclick="ChooseControl(this, 'infoContent')")
                        span
                            i.fa.fa-info-circle.mr-2
                            | Thông tin
                    .infoNav(onclick="ChooseControl(this, 'accountContent')")
                        span
                            i.fa.fa-user-circle.mr-2
                            | Tài khoản
                    .infoNav(onclick="ChooseControl(this, 'checkRoomContent')")
                        span
                            i.fa.fa-file-text.mr-2
                            | Hóa đơn
                    .infoNav
                        span
                            a(href="/logout" onclick="return ChooseControl(this, '')") 
                                i.fa.fa-sign-out.mr-2
                                | Đăng xuất
                .col-lg-10.col-md-8.order-md-1.order-2
                    .contentTitle Thong tin ca nhan
                    // Thong tin ca nhan
                    #infoContent.mainContent
                        .row
                            input(type="hidden" id="csrf_token" value=csrfToken)
                            input(type="hidden" id="token" value=token)
                            input(type="hidden" id="accountID" value=account._id)
                            .col-sm-4(style='text-align: center;')
                                img#avatarImg(src='/uploads/'+account.avatar alt='' style='width: 100%; max-height: 350px;')
                                br
                                input#avatar(type='file' name='avatar' accept='image/*' hidden='')
                                label#avatarBtn(for='myfile' onclick="document.getElementById('avatar').click()")
                                    i.fa.fa-upload.mr-2
                                    | Avatar
                            .col-sm-8
                                table
                                    tr
                                        td.infoTitle
                                            label(for='name') Họ và tên
                                        td
                                            input#name.form-control(type='text' name='name' value=account.ho_ten)
                                    tr
                                        td.infoTitle Giới tính
                                        td
                                            .custom-control.custom-radio.custom-control-inline
                                                if account.gioi_tinh == true
                                                    input#namRadio.custom-control-input(type='radio' name='genral' value='nam' checked)
                                                else
                                                    input#namRadio.custom-control-input(type='radio' name='genral' value='nam')
                                                label.custom-control-label(for='namRadio') Nam
                                            .custom-control.custom-radio.custom-control-inline
                                                if account.gioi_tinh == true
                                                    input#nuRadio.custom-control-input(type='radio' name='genral' value='nu')
                                                else 
                                                    input#nuRadio.custom-control-input(type='radio' name='genral' value='nu' checked)
                                                label.custom-control-label(for='nuRadio') Nữ
                                    tr
                                        td.infoTitle
                                            label(for='phone') Số điện thoại
                                        td
                                            input#phone.form-control(type='text' name='phone' value=account.so_dien_thoai)
                                    tr
                                        td.infoTitle(style='vertical-align: top;')
                                            label(for='address') Địa chỉ
                                        td
                                            .row
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Tỉnh, thành phố
                                                        div(class='select-address ml-2')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectCityContent\')")
                                                                .row
                                                                    .col-10#cityMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Tỉnh, thành phố
                                                                        else 
                                                                            | #{cityOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectCityContent.row.mx-auto(class='optionList')
                                                                each city in cities 
                                                                    if cityOfUser
                                                                        .col-5(class= cityOfUser._id==city._id ? 'option active':'option' id='city'+city._id onclick="ChooseCity('"+ city._id +"', '"+ city.ten +"')")
                                                                            | #{city.ten}
                                                                    else 
                                                                        .col-5(class='option' id='city'+city._id onclick="ChooseCity('"+ city._id +"', '"+ city.ten +"')")
                                                                            | #{city.ten}
                                                                input(type="hidden", id="cityChosen" value= account.maxp=='' ? cities[0]._id : cityOfUser._id)
                                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Quận, huyện
                                                        div(class='select-address ml-2' id='containDistContent')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectDistContent\')")
                                                                .row
                                                                    .col-10#distMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Quận, huyện
                                                                        else 
                                                                            | #{distOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectDistContent.row.mx-auto(class='optionList')
                                                                if account.maxp != ''
                                                                    each dist in districts 
                                                                        .col-5(class= distOfUser._id==dist._id ? 'option active':'option' id='dist'+dist._id onclick="ChooseDist('"+ dist._id +"', '"+ dist.ten +"')")
                                                                            | #{dist.ten}
                                                                    input(type="hidden", id="distChosen" value=distOfUser._id)
                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Xã, phường, thị trấn
                                                        div(class='select-address ml-2' id='containWardContent')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectWardContent\')")
                                                                .row
                                                                    .col-10#wardMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Xã, phường
                                                                        else 
                                                                            | #{wardOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectWardContent.row.mx-auto(class='optionList')
                                                                if account.maxp != ''
                                                                    each ward in wards 
                                                                        .col-5(class= wardOfUser._id==ward._id ? 'option active':'option' id='ward'+ward._id onclick="ChooseDist('"+ ward._id +"', '"+ ward.ten +"')")
                                                                            | #{ward.ten}
                                                                    input(type="hidden", id="wardChosen" value=wardOfUser._id)
                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='streetName') Số nhà, tên đường
                                                        input#streetName.form-control.ml-2.w-50(type='text' value=account.maxp=='' ? '' : streetName)
                                    tr
                                        td
                                        td(style='text-align: right;')
                                            button.btn.btn-success(onclick='UpdateInfo()')
                                                i.fa.fa-pencil-square-o.mr-1(aria-hidden='true')
                                                | Cập nhật
                    // Tài khoản
                    #accountContent.mainContent(style='display:none;')
                        .row
                            .col-12
                                table
                                    tr
                                        td.infoTitle
                                            label(for='emailInfo') Email
                                        td
                                            input#emailInfo.form-control(type='text' name='email' value=account.email)
                                    tr
                                        td.infoTitle
                                            label(for='usernameInfo') Tên đăng nhập
                                        td
                                            input#usernameInfo.form-control(type='text' name='username' value=account.username readonly='')
                                    tr
                                        td.infoTitle
                                            label(for='pass1Info') Mật khẩu
                                        td
                                            input#pass1Info.form-control(type='password' name='pass1')
                                    tr
                                        td.infoTitle
                                            label(for='pass2Info') Nhập lại mật khẩu
                                        td
                                            input#pass2Info.form-control(type='password' name='pass2')
                                    tr
                                        td
                                        td(style='text-align: right;')
                                            button.btn.btn-success(onclick="UpdateAccount()")
                                                i.fa.fa-pencil-square-o.mr-1(aria-hidden='true')
                                                | Cập nhật
                    // Lịch sử đặt phòng
                    #checkRoomContent.mainContent(style='display:none;')
                        .row.icon-examples
                            .col-lg-11.col-md-6.mx-auto.bill
                                .row
                                    .col-md-7
                                        h4.title Th&ocirc;ng tin kh&aacute;ch s&#x1EA1;n
                                        p T&ecirc;n: &Dstrok;&#x1EC7; Nh&#x1EA5;t
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236541258
                                        p &Dstrok;&#x1ECB;a ch&#x1EC9;: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
                                    .col-md-5
                                        h4.title Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                .mt-2
                                    button.btn.btn-success.mr-2
                                        i.fa.fa-info-circle.mr-1(aria-hidden='true')
                                        | Xem chi ti&#x1EBF;t
                                    button.btn.btn-danger
                                        i.fa.fa-ban.mr-1(aria-hidden='true')
                                        | H&#x1EE7;y &dstrok;&#x1EB7;t ph&ograve;ng
                            .col-lg-11.col-md-6.mx-auto.bill
                                .row
                                    .col-md-7
                                        h4.title Th&ocirc;ng tin kh&aacute;ch s&#x1EA1;n
                                        p T&ecirc;n: &Dstrok;&#x1EC7; Nh&#x1EA5;t
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236541258
                                        p &Dstrok;&#x1ECB;a ch&#x1EC9;: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
                                    .col-md-5
                                        h4.title Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                .mt-2
                                    button.btn.btn-success.mr-2
                                        i.fa.fa-info-circle.mr-1(aria-hidden='true')
                                        | Xem chi ti&#x1EBF;t
                                    button.btn.btn-danger
                                        i.fa.fa-ban.mr-1(aria-hidden='true')
                                        | H&#x1EE7;y &dstrok;&#x1EB7;t ph&ograve;ng
                            .col-lg-11.col-md-6.mx-auto.bill
                                .row
                                    .col-md-7
                                        h4.title Th&ocirc;ng tin kh&aacute;ch s&#x1EA1;n
                                        p T&ecirc;n: &Dstrok;&#x1EC7; Nh&#x1EA5;t
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236541258
                                        p &Dstrok;&#x1ECB;a ch&#x1EC9;: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
                                    .col-md-5
                                        h4.title Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                .mt-2
                                    button.btn.btn-success.mr-2
                                        i.fa.fa-info-circle.mr-1(aria-hidden='true')
                                        | Xem chi ti&#x1EBF;t
                                    //- button.btn.btn-danger
                                    //-     i.fa.fa-ban.mr-1(aria-hidden='true')
                                    //-     | H&#x1EE7;y &dstrok;&#x1EB7;t ph&ograve;ng
                            .col-lg-11.col-md-6.mx-auto.bill
                                .row
                                    .col-md-7
                                        h4.title Th&ocirc;ng tin kh&aacute;ch s&#x1EA1;n
                                        p T&ecirc;n: &Dstrok;&#x1EC7; Nh&#x1EA5;t
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236541258
                                        p &Dstrok;&#x1ECB;a ch&#x1EC9;: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
                                    .col-md-5
                                        h4.title Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                .mt-2
                                    button.btn.btn-success.mr-2
                                        i.fa.fa-info-circle.mr-1(aria-hidden='true')
                                        | Xem chi ti&#x1EBF;t
                                    //- button.btn.btn-danger
                                    //-     i.fa.fa-ban.mr-1(aria-hidden='true')
                                    //-     | H&#x1EE7;y &dstrok;&#x1EB7;t ph&ograve;ng
                            
                            nav(aria-label='Page navigation example' style='margin: 20px auto auto;')
                                ul.pagination.justify-content-center
                                    li.page-item.disabled
                                        a.page-link(href='#' aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                    li.page-item.active
                                        a.page-link(href='#') 1
                                    li.page-item
                                        a.page-link(href='#') 2
                                    li.page-item
                                        a.page-link(href='#') 3
                                    li.page-item
                                        a.page-link(href='#' aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                    // Chi tiet hoa don
                    #checkRoomContent.mainContent(style='display:none;')
                        .row.icon-examples
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                h2(style='margin-bottom: 20px;') Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                .row
                                    .col-md-6
                                        p Kh&aacute;ch s&#x1EA1;n: &Dstrok;&#x1EC7; nh&#x1EA5;t kh&aacute;ch s&#x1EA1;n
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p Ti&#x1EC1;n thanh to&aacute;n tr&#x1B0;&#x1EDB;c: 121.000 &Dstrok;&#x1ED3;ng
                                        p Gi&aacute; &dstrok;&#x1EB7;t ph&ograve;ng: 1.000.000 &Dstrok;&#x1ED3;ng
                                    .col-md-6
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                        p
                                            | Ng&agrave;y tr&#x1EA3; ph&ograve;ng: 
                                            em 2020-08-12 11:12:44
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                h2(style='margin-bottom: 20px;') Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                .row
                                    .col-md-6
                                        p M&atilde; t&agrave;i kho&#x1EA3;n: s1d5f4d2d1s4d5s4
                                        p H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        p Gi&#x1EDB;i t&iacute;nh: Nam
                                    .col-md-6
                                        p Email: abc@gmail.com
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0235641256
                                        p &Dstrok;&#x1ECB;a ch&#x1EC9;: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
        
block script 
    script(src="js/myJS/account.js")         