extends layout/base.pug

block title 
    <title>Thông tin cá nhân</title>

block header 
    <link rel="stylesheet" href="css/mycss/info-control.css">

block content
    // Breadcrumb Section Begin
    section.breadcrumb-section.set-bg(data-setbg='https://vcdn1-dulich.vnecdn.net/2019/11/21/2-1574339443.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BzU6f4wgVBm3R12CpyttVA')
        .container
            .row
                .col-lg-12.text-center
                    .breadcrumb__text
                        h2 Thông tin cá nhân
                        .breadcrumb__option
                            a(href='/') Trang chủ
                            span Thông tin cá nhân
    // Breadcrumb Section End

    // Blog Details Section Begin
    section.blog-details.spad(style='padding-top: 33px;')
        .container
            .row
                .col-lg-2.col-md-4.order-md-1.order-1
                    .infoNav.active-nav(onclick="ChooseControl(this, 'infoContent')")
                        span
                            i.fa.fa-info-circle.mr-2
                            | Thông tin
                    .infoNav(onclick="ChooseControl(this, 'accountContent')")
                        span
                            i.fa.fa-user-circle.mr-2
                            | Tài khoản
                    .infoNav(onclick="ChooseControl(this, 'checkRoomContent')")
                        span
                            i.fa.fa-file-text.mr-2
                            | Hóa đơn
                    .infoNav
                        span
                            a(href="/logout" onclick="return ChooseControl(this, '')") 
                                i.fa.fa-sign-out.mr-2
                                | Đăng xuất
                .col-lg-10.col-md-8.order-md-1.order-2
                    #contentTitle.font-system-ui Thông tin cá nhân
                    // Thong tin ca nhan
                    #infoContent.mainContent
                        .row
                            input(type="hidden" id="csrf_token" value=csrfToken)
                            input(type="hidden" id="token" value=token)
                            input(type="hidden" id="accountID" value=account._id)
                            .col-sm-4(style='text-align: center;')
                                img#avatarImg(src='/uploads/'+account.avatar alt='' style='width: 100%; max-height: 350px;')
                                br
                                input#avatar(type='file' name='avatar' accept='image/*' hidden='')
                                label#avatarBtn(for='myfile' onclick="document.getElementById('avatar').click()")
                                    i.fa.fa-upload.mr-2
                                    | Avatar
                            .col-sm-8
                                table
                                    tr
                                        td.infoTitle
                                            label(for='name') Họ và tên
                                        td
                                            input#name.form-control(type='text' name='name' value=account.ho_ten)
                                    tr
                                        td.infoTitle Giới tính
                                        td
                                            .custom-control.custom-radio.custom-control-inline
                                                if account.gioi_tinh == true
                                                    input#namRadio.custom-control-input(type='radio' name='genral' value='nam' checked)
                                                else
                                                    input#namRadio.custom-control-input(type='radio' name='genral' value='nam')
                                                label.custom-control-label(for='namRadio') Nam
                                            .custom-control.custom-radio.custom-control-inline
                                                if account.gioi_tinh == true
                                                    input#nuRadio.custom-control-input(type='radio' name='genral' value='nu')
                                                else 
                                                    input#nuRadio.custom-control-input(type='radio' name='genral' value='nu' checked)
                                                label.custom-control-label(for='nuRadio') Nữ
                                    tr
                                        td.infoTitle
                                            label(for='phone') Số điện thoại
                                        td
                                            input#phone.form-control(type='text' name='phone' value=account.so_dien_thoai)
                                    tr
                                        td.infoTitle(style='vertical-align: top;')
                                            label(for='address') Địa chỉ
                                        td
                                            .row
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Tỉnh, thành phố
                                                        div(class='select-address ml-2')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectCityContent\')")
                                                                .row
                                                                    .col-10#cityMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Tỉnh, thành phố
                                                                        else 
                                                                            | #{cityOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectCityContent.row.mx-auto(class='optionList')
                                                                each city in cities 
                                                                    if cityOfUser
                                                                        .col-5(class= cityOfUser._id==city._id ? 'option active':'option' id='city'+city._id onclick="ChooseCity('"+ city._id +"', '"+ city.ten +"')")
                                                                            | #{city.ten}
                                                                    else 
                                                                        .col-5(class='option' id='city'+city._id onclick="ChooseCity('"+ city._id +"', '"+ city.ten +"')")
                                                                            | #{city.ten}
                                                                input(type="hidden", id="cityChosen" value= account.maxp=='' ? '' : cityOfUser._id)
                                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Quận, huyện
                                                        div(class='select-address ml-2' id='containDistContent')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectDistContent\')")
                                                                .row
                                                                    .col-10#distMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Quận, huyện
                                                                        else 
                                                                            | #{distOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectDistContent.row.mx-auto(class='optionList')
                                                                if account.maxp != ''
                                                                    each dist in districts 
                                                                        .col-5(class= distOfUser._id==dist._id ? 'option active':'option' id='dist'+dist._id onclick="ChooseDist('"+ dist._id +"', '"+ dist.ten +"')")
                                                                            | #{dist.ten}
                                                                    input(type="hidden", id="distChosen" value=distOfUser._id)
                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='exampleInputEmail1') Xã, phường, thị trấn
                                                        div(class='select-address ml-2' id='containWardContent')
                                                            div.btn.btn-light.selectBtn(onclick="ToggleSelect(\'selectWardContent\')")
                                                                .row
                                                                    .col-10#wardMain 
                                                                        if account.maxp == ''
                                                                            | Chọn Xã, phường
                                                                        else 
                                                                            | #{wardOfUser.ten}
                                                                    .col-2.text-right 
                                                                        i.fa.fa-chevron-down
                                                            #selectWardContent.row.mx-auto(class='optionList')
                                                                if account.maxp != ''
                                                                    each ward in wards 
                                                                        .col-5(class= wardOfUser._id==ward._id ? 'option active':'option' id='ward'+ward._id onclick="ChooseDist('"+ ward._id +"', '"+ ward.ten +"')")
                                                                            | #{ward.ten}
                                                                    input(type="hidden", id="wardChosen" value=wardOfUser._id)
                                                
                                                .col-12
                                                    .form-group.form-inline
                                                        label(for='streetName') Số nhà, tên đường
                                                        input#streetName.form-control.ml-2.w-50(type='text' value=account.maxp=='' ? '' : streetName)
                                    tr
                                        td
                                        td(style='text-align: right;')
                                            button.btn.btn-success(onclick='UpdateInfo()')
                                                i.fa.fa-pencil-square-o.mr-1(aria-hidden='true')
                                                | Cập nhật
                    // Tài khoản
                    #accountContent.mainContent(style='display:none;')
                        .row
                            .col-12
                                table
                                    tr
                                        td.infoTitle
                                            label(for='emailInfo') Email
                                        td
                                            input#emailInfo.form-control(type='text' name='email' value=account.email)
                                    tr
                                        td.infoTitle
                                            label(for='usernameInfo') Tên đăng nhập
                                        td
                                            input#usernameInfo.form-control(type='text' name='username' value=account.username readonly='')
                                    tr
                                        td.infoTitle
                                            label(for='pass1Info') Mật khẩu
                                        td
                                            input#pass1Info.form-control(type='password' name='pass1')
                                    tr
                                        td.infoTitle
                                            label(for='pass2Info') Nhập lại mật khẩu
                                        td
                                            input#pass2Info.form-control(type='password' name='pass2')
                                    tr
                                        td
                                        td(style='text-align: right;')
                                            button.btn.btn-success(onclick="UpdateAccount()")
                                                i.fa.fa-pencil-square-o.mr-1(aria-hidden='true')
                                                | Cập nhật
                    // Lịch sử đặt phòng
                    #checkRoomContent.mainContent(style='display:none;')
                        .row.icon-examples
                            each bill in bills
                                .col-lg-11.col-md-6.mx-auto.bill(id='bill'+bill._id)
                                    .row
                                        .col-md-7
                                            h4.title Thông tin khách sạn
                                            p Tên: &Dstrok;&#x1EC7; Nh&#x1EA5;t
                                            p Số điện thoại: 0236541258
                                            p Địa chỉ: An H&ograve;a, Ch&acirc;u Th&agrave;nh, An Giang
                                        .col-md-5
                                            h4.title Thông tin loại phòng
                                            p Loại phòng: #{bill.ma_loai_phong.ten}
                                            p
                                                | Ngày đặt phòng: 
                                                em #{bill.ngay_dat_phong}
                                            p
                                                | Ngày nhận phòng: 
                                                em #{bill.ngay_nhan_phong}
                                    .mt-2
                                        button.btn.btn-info.mr-2(onclick='GetBillDetail("'+ bill._id +'")')
                                            i.fa.fa-info-circle.mr-1(aria-hidden='true')
                                            | Xem chi tiết
                                        if bill.da_thanh_toan == false
                                            button.btn.btn-success.mr-2(onclick='PayBill("'+ bill._id +'")')
                                                i.fa.fa-credit-card.mr-1(aria-hidden='true')
                                                | Thanh toán
                                            button.btn.btn-danger(onclick='DestroyBill("'+ bill._id +'")')
                                                i.fa.fa-ban.mr-1(aria-hidden='true')
                                                | Hủy đặt phòng
                            
                            nav(aria-label='Page navigation example' style='margin: 20px auto auto;')
                                ul.pagination.justify-content-center
                                    li.page-item.disabled
                                        a.page-link(href='#' aria-label='Previous')
                                            span(aria-hidden='true') &laquo;
                                    li.page-item.active
                                        a.page-link(href='#') 1
                                    li.page-item
                                        a.page-link(href='#') 2
                                    li.page-item
                                        a.page-link(href='#') 3
                                    li.page-item
                                        a.page-link(href='#' aria-label='Next')
                                            span(aria-hidden='true') &raquo;
                    // Chi tiet hoa don
                    #billDetailContent.mainContent(style='display:none;')
                        .row.icon-examples
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                .row
                                    .col-md-6
                                        p 
                                            span.title.mr-1 Khách sạn: 
                                            span(id='hotelName') &Dstrok;&#x1EC7; nh&#x1EA5;t kh&aacute;ch s&#x1EA1;n
                                        p 
                                            span.title.mr-1 Loại phòng: 
                                            span(id='roomTypeName') VIP
                                        p
                                            span.title.mr-1 Giá đặt phòng: 
                                            span.mr-1(id='roomTypePrice') 1.000.000 
                                            | VND
                                        p
                                            span.title.mr-1 Ngày đặt phòng: 
                                            em(id='checkRoomDate') 2020-08-06 15:23:56
                                    .col-md-6                                        
                                        p
                                            span.title.mr-1 Ngày nhận phòng: 
                                            em(id='receiveRoomDate') 2020-08-09
                                        p
                                            span.title.mr-1 Ngày trả phòng: 
                                            em(id='returnRoomDate') 2020-08-12 11:12:44
                                        p
                                            span.title.mr-1 Số lượng phòng: 
                                            span.mr-1(id='roomAmount') 8 
                                            | phòng
                                        p
                                            span.title.mr-1 Trạng thái đơn đặt phòng: 
                                            b(id='roomStatus') Đã thanh toán
                            
block script 
    script(src="js/myJS/account.js")