extends layout/base.pug

block title 
    <title>Trang chủ</title>

block header 
    <link rel="stylesheet" href="css/mycss/index.css">

block content
    // Hero Section Begin
    section.hero
        .container
            .row
                .col-lg-12
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1')
                            li(data-target='#carouselExampleIndicators' data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active.banner-item
                                img.d-block.w-100(src='./img/NhaTrangTP.jpg' alt='...')
                                .hero__text.banner-text(style='top:10%; right: 10%;')
                                    span FRUIT FRESH
                                    h2
                                        | Vegetable 
                                        br
                                        | 100% Organic
                                    p Free Pickup and Delivery Available
                                    a.primary-btn(href='#') SHOP NOW
                            .carousel-item.banner-item
                                img.d-block.w-100(src='./img/thanhpho.jpg' alt='...')
                                .hero__text.banner-text(style='top:10%; right: 10%;')
                                    span FRUIT FRESH
                                    h2
                                        | Vegetable 
                                        br
                                        | 100% Organic
                                    p Free Pickup and Delivery Available
                                    a.primary-btn(href='#') SHOP NOW
                            .carousel-item.banner-item
                                img.d-block.w-100(src='./img/sapa.jpg' alt='...')
                                .hero__text.banner-text(style='top:10%; right: 10%;')
                                    span FRUIT FRESH
                                    h2
                                        | Vegetable 
                                        br
                                        | 100% Organic
                                    p Free Pickup and Delivery Available
                                    a.primary-btn(href='#') SHOP NOW
                        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
    // Hero Section End
    
    // Latest Product Section Begin
    section.latest-product.spad(style='padding-top: 20px;padding-bottom: 35px;')
        .container
            .row
                .col-6
                    h4(style='font-weight: 700;color: #1c1c1c; font-size: 26px; margin-bottom: 34px;')
                        i.fa.fa-home.mr-1(style='color: greenyellow; font-size: 40px;')
                        | Đánh giá cao
                .col-6.form-inline(style=' margin-bottom: 34px;')
                    input(type="hidden", id="foundByKey" value=foundByKey)
                    input(type="hidden", id="filterType" value=filterType)
                    select.form-control(style="height:auto;" id='filterHotel')
                        option(value='') -- Chọn cách sắp xếp --
                        option(value='diemGiam') Điểm đánh giá giảm
                        option(value='diemTang') Điểm đánh giá tăng
                        option(value='giaGiam') Giá giảm
                        option(value='giaTang') Giá tăng
                    button.btn.btn-info.ml-1(onclick='FilterHotel()') Sắp xếp

            .row#containerHotel
                each hotel in hotels
                    .col-lg-6.col-md-6
                        a.latest-product__item.hotel-item(href='/detail/'+ hotel._id)
                            .latest-product__item__pic
                                img(src='https://media-cdn.tripadvisor.com/media/photo-s/17/d7/40/08/chau-pho-hotel.jpg' alt='')
                            .latest-product__item__text
                                h5.hotelName #{hotel.ten}
                                p
                                    span.score #{hotel.diem_trung_binh}
                                    span.level Rất tốt 
                                    | (#{hotel.so_luong_binh_luan} đánh giá)
                                p
                                    b Giá:
                                    |  #{hotel.gia} Đồng
                                p
                                    b Địa chỉ:
                                    |  #{hotel.dia_chi}
    
        nav(aria-label='Page navigation example' style='margin-top: 20px;')
            ul.pagination.justify-content-center#containerPagiItem
                li.page-item.disabled
                    a.page-link(aria-label='Previous' onclick='ChoosePaginateItem(1)')
                        span(aria-hidden='true') &laquo;
                -   for (var i=1; i<=amountShowPage; i++)
                        if i == 1
                            li.page-item.active
                                a.page-link #{i}
                        else 
                            li.page-item
                                a.page-link(style="cursor:pointer;" onclick='ChoosePaginateItem('+ i +')') #{i}
                li.page-item
                    a.page-link(aria-label='Next' onclick='ChoosePaginateItem('+ pageTotal +')' title=pageTotal)
                        span(aria-hidden='true') &raquo;
    // Latest Product Section End

block script 
    script(src="/js/myjs/index.js")