extends layout/base.pug

block title
    title Chi tiet hoa don

block header
    link(rel="stylesheet", href="/assets_manager/css/mycss/chiTietHoaDon.css")

block content

    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-10.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Chi tiết hóa đơn
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item(aria-current='page') Hóa đơn đặt phòng
                                li.breadcrumb-item.active(aria-current='page') Chi tiết

    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Hóa đơn đặt phòng
                    .card-body
                        .row.icon-examples.billContent
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                h2(style='margin-bottom: 20px;') Thông tin loại phòng
                                .row
                                    .col-md-6
                                        p 
                                            span.title Loại phòng: 
                                            | #{bill.ma_loai_phong.ten}
                                        p 
                                            span.title Ngày đặt phòng: 
                                            | #{bill.ngay_dat_phong}
                                        p 
                                            span.title Ngày nhận phòng: 
                                            | #{bill.ngay_nhan_phong}
                                        p 
                                            span.title Ngày trả phòng: 
                                            | #{bill.ngay_tra_phong}
                                    .col-md-6
                                        p 
                                            span.title Giá đặt phòng: 
                                            | #{bill.gia_dat_phong} VND
                                        p 
                                            span.title Số lượng phòng: 
                                            | #{bill.so_luong_phong} phòng
                                        p 
                                            span.title Trạng thái hóa đơn: 
                                            if bill.da_thanh_toan 
                                                b.billStatus(style='color:green;') Đã thanh toán
                                            else 
                                                b.billStatus(style='color:orange;') Chưa thanh toán
                                        p 
                                            span.title Trạng thái phòng: 
                                            if bill.da_tra_phong
                                                b.billStatus(style='color:green;') Đã trả phòng
                                            else
                                                if bill.da_thanh_toan 
                                                    b.billStatus(style='color:orange;') Chưa trả phòng
                                                else 
                                                    b.billStatus(style='color:orange;') Chưa nhận phòng
                                                
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                h2(style='margin-bottom: 20px;') Thông tin khách hàng
                                .row
                                    .col-md-6
                                        p 
                                            span.title Tên đăng nhập: 
                                            | #{bill.ma_tai_khoan.username}
                                        p 
                                            span.title Họ tên: 
                                            | #{bill.ma_tai_khoan.ho_ten}
                                        p 
                                            span.title Giới tính: 
                                            if bill.ma_tai_khoan.gioi_tinh 
                                                | Nam 
                                            else 
                                                | Nữ
                                    .col-md-6
                                        p 
                                            span.title Email: 
                                            | #{bill.ma_tai_khoan.email}
                                        p 
                                            span.title Số điện thoại: 
                                            | #{bill.ma_tai_khoan.so_dien_thoai}
                                        p 
                                            span.title Địa chỉ: 
                                            | #{bill.ma_tai_khoan.dia_chi}
        
        // Footer
        include layout/footer.pug
        
block script 
    script.
        document.getElementById('billNav').classList.add('active');