extends layout/base.pug

block title
    title Đặt phòng

block header

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Đơn đặt phòng
                    .card-body
                        .row.icon-examples
                            .input-group.col-6.ml-4.mb-3
                                input.form-control(type='text' id='foundByKey' value=foundByKey placeholder='Tìm theo tên người đặt phòng')
                                .input-group-append
                                    button.btn.btn-secondary(style='height: 45px;' id="filterBillBtn")
                                        i.fa.fa-filter(aria-hidden='true')
                            each bill in bills
                                .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto(id='bill'+ bill._id)
                                    .row
                                        .col-md-6
                                            h3.mb-3 Thông tin loại phòng
                                            p 
                                                b Loại phòng: 
                                                | #{bill.ma_loai_phong.ten}
                                            p
                                                b Ngày đặt phòng: 
                                                em #{bill.ngay_dat_phong}
                                            p
                                                b Ngày nhận phòng: 
                                                em #{bill.ngay_nhan_phong}
                                        .col-md-6
                                            h3.mb-3 Thông tin khách hàng
                                            p 
                                                b Tên đăng nhập: 
                                                | #{bill.ma_tai_khoan.username}
                                            p 
                                                b Họ tên: 
                                                | #{bill.ma_tai_khoan.ho_ten}
                                            p 
                                                b Số điện thoại: 
                                                | #{bill.ma_tai_khoan.so_dien_thoai}
                                    div
                                        a(href="./bill/"+ bill._id class="mr-2") 
                                            button.btn.btn-info 
                                                i.fa.fa-info-circle.mr-1(style='color:white;' aria-hidden="true")
                                                | Xem chi tiết

                                        - var receiveDate = new Date(bill.ngay_nhan_phong);
                                        - var now = new Date(today);
                                        if bill.da_thanh_toan == false
                                            button.btn.btn-warning(onclick='PaidBill("'+ bill._id +'")')
                                                i.fa.fa-money.mr-1(style='color:white;' aria-hidden="true")
                                                | Đã thanh toán
                                            if receiveDate.getTime() <= now.getTime()
                                                button.btn.btn-danger(onclick='DestroyBill("'+ bill._id +'")')
                                                    i.fa.fa-ban.mr-1(style='color:white;' aria-hidden="true")
                                                    | Hủy phòng
                                            else 
                                                button.btn.btn-danger.diabled(disabled) 
                                                    i.fa.fa-ban.mr-1(style='color:white;' aria-hidden="true")
                                                    | Hủy phòng
                                        if bill.da_thanh_toan
                                            button.btn.btn-success(onclick='ReturnRoom("'+ bill._id +'")')
                                                i.fa.fa-bookmark.mr-1(style='color:white;' aria-hidden="true")
                                                | Trả phòng
                            
        // Footer
        include layout/footer.pug

block script 
    script(src="/assets_manager/js/myjs/checkroom.js") 
    script.
        document.getElementById('checkroomNav').classList.add('active');