extends layout/base.pug

block title
    title Bình luận

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/binhLuan.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Bình luận
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Bình luận
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Danh sách bình luận
                        input(type="hidden", id="token" value=token)
                    .card-body
                        .row.icon-examples
                            each cm in comments
                                .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.comment
                                    .row
                                        .col-6.title
                                            span.username #{cm.ma_tai_khoan.ho_ten}
                                            span.score #{cm.diem}.0
                                        .col-6.text-right
                                            span.time #{cm.thoi_gian}
                                    p.good
                                        span Tốt: 
                                        | #{cm.noi_dung_tot}
                                    p.bad
                                        span Góp ý: 
                                        | #{cm.noi_dung_xau}
                                    .funcs
                                        if cm.da_xem == false
                                            button.btn.btn-warning(onclick='DaXem("'+ cm._id +'")')
                                                i.fa.fa-eye(aria-hidden='true')
                                                | Đã xem
                                        a(href="./replyComment/"+ cm._id) 
                                            button.btn.btn-light
                                                i.fa.fa-reply(aria-hidden='true')
                                                | Phản hồi
        
        // Footer
        include layout/footer.pug
        
block script
    script(src="/assets_admin/js/comment.js")