extends layout/base.pug

block title
    title Quản lý tiện nghi

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/tienNghiKhachSan.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Tiện nghi
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Tiện nghi
    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Tiện nghi khách sạn
                        input(type="hidden", id="hotelID" value=hotelID)
                        input(type="hidden", id="token" value=token)
                    .card-body
                        .row.icon-examples
                            each conven in convens
                                .col-lg-3.col-md-6
                                    button.btn-icon-clipboard.convenient(type='button')
                                        div
                                            i.fa(class=conven.ma_tien_nghi.hinh_anh aria-hidden='true')
                                            span #{conven.ma_tien_nghi.ten}
                                            span.deleteBtn(onclick='DestroyConvenient("'+ conven._id +'")')
                                                i.fa.fa-trash(aria-hidden='true')
                                
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Thêm tiện nghi cho khách sạn
                    .card-body
                        .row.icon-examples.addConvenientFrame
                            input(type="hidden", id="convenSelected")
                            each conven in notConvens
                                .col-lg-3.col-md-6
                                    button.btn-icon-clipboard(type='button' id='conven'+conven._id onclick='ChooseConvenient("'+ conven._id +'")')
                                        div
                                            i.fa(class=conven.hinh_anh aria-hidden='true')
                                            span #{conven.ten}
                        button.btn.btn-success.mt-3(onclick='AddConvenient()')
                            i.fa.fa-plus.mr-1(aria-hidden='true')
                            | Thêm mới
        
        // Footer
        include layout/footer.pug

block script
    script(src="/assets_manager/js/myjs/convenient.js") 
    script.
        document.getElementById('convenientNav').classList.add('active');