extends layout/base.pug

block title
    title Trả lời bình luận

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/phanHoiBinhLuan.css')

block content  
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Bình luận
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item(aria-current='page') Bình luận
                                li.breadcrumb-item.active(aria-current='page') Phản hồi
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Thông tin bình luận
                        input(type="hidden", id="token" value=token)
                        input(type="hidden", id="commentID" value=commentID)
                    .card-body
                        .row.icon-examples.customer-reply
                            .col-md-11.col-md-6.mx-auto
                                .row
                                    .col-md-6
                                        p
                                            span.title Mã tài khoản: 
                                            | #{comment.ma_tai_khoan.id}
                                        p
                                            span.title Họ tên: 
                                            | #{comment.ma_tai_khoan.ho_ten}
                                        p
                                            span.title Giới tính: 
                                            if comment.ma_tai_khoan.gioi_tinh
                                                | Nam
                                            else 
                                                | Nữ
                                    .col-md-6
                                        p
                                            span.title Điểm đánh giá: 
                                            span.score #{comment.diem}.0
                                        p
                                            span.title Số điện thoại: 
                                            | #{comment.ma_tai_khoan.so_dien_thoai}
                                        p
                                            span.title Thời gian bình luận: 
                                            | #{comment.thoi_gian}
                            .col-md-11.col-md-6.mx-auto.mt-md-2
                                p.good
                                    span Tốt: 
                                    | #{comment.noi_dung_tot}
                                p.bad
                                    span Góp ý: 
                                    | #{comment.noi_dung_xau}
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Quản lý khách sạn phản hồi
                    .card-body
                        .row.icon-examples
                            .col-md-11.col-md-6.mx-auto.text-center
                                textarea.form-control(id='replyContent' rows='8' style='width: 100%;')
                                    | #{comment.noi_dung_phan_hoi}
                            .col-md-11.col-md-6.mx-auto.mt-md-3
                                button.btn.btn-success(onclick='UpdateReply()')
                                    i.fa.fa-pencil-square-o.update-icon(aria-hidden='true')
                                    | Cập nhật
        
        // Footer
        include layout/footer.pug
        
block script
    script(src="/assets_admin/js/comment.js")