extends layout/base.pug

block title
    title Loại phòng

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/loaiPhong.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Lo&#x1EA1;i ph&ograve;ng
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Lo&#x1EA1;i ph&ograve;ng
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0.row 
                            .col-6 Loại phòng
                            .col-6.text-right
                                a(href="./addRoomType") 
                                    button.btn.btn-light Thêm loại phòng
                        input(type="hidden", id="token" value=token)
                    .card-body
                        .row.icon-examples
                            each room in roomTypes
                                .col-lg-12.col-md-6.btn-icon-clipboard
                                    .row
                                        .col-md-4
                                            p 
                                                b Tên phòng: 
                                                | #{room.ten}
                                            p 
                                                b Giá: 
                                                span.mr-1.ml-1.showMoney(style='line-height: inherit; font-size: 16px; vertical-align: inherit; display: inline;')
                                                    | #{room.gia}
                                                | VND
                                            p 
                                                b Số lượng phòng: 
                                                | #{room.so_luong} phòng
                                            p
                                                b Trạng thái phòng: 
                                                if room.disabled
                                                    b(style='color: red') Không phục vụ
                                                else 
                                                    b(style='color: green') Đang phục vụ
                                            a(href="./roomType/"+room._id class="mr-2") 
                                                button.btn.btn-success Cập nhật
                                            if room.disabled == false
                                                button.btn.btn-danger(onclick='DeleteRoomType("'+ room._id +'")')
                                                    | Xóa
                                            
                                        .col-md-8
                                            .images
                                                .containImages(style='width:'+ (room.amountImage*110) +'px;')
                                                    each image in room.images
                                                        img(src='/uploads/'+image.ten  id=image._id alt=image.ten onclick='ShowImage("'+ room._id +'", "'+ image._id +'", "/uploads/'+ image.ten +'")')
                                            
                                            div(id='box'+room._id style='display:none;')
                                                #imageBox(style='display:block;')
                                                    img(id='imageInBox'+room._id src='https://wedo.vn/wp-content/uploads/2018/08/thiet-ke-noi-that-phong-ngu-15m2-dep-4.jpg' alt='')
                                                    input(type="hidden", id='imageSelected'+ room._id)
                                                    span.closeBtn(onclick='CloseImageBox("'+ room._id +'")')
                                                        i.fa.fa-times(aria-hidden='true')
                                                    span.delBtn(onclick='DeleteImage("'+ room._id +'")')
                                                        i.fa.fa-trash(aria-hidden='true')
                                                    a.fullScreenBtn(href="" target='_blank' id='fullScreen'+ room._id)
                                                        i.fa.fa-arrows-alt(aria-hidden='true')
                            
        // Footer
        include layout/footer.pug

block script
    script(src="/assets_manager/js/myjs/roomType.js")
    script(src="/js/myjs/updateFormatMoney.js") 
    script.
        document.getElementById('roomTypeNav').classList.add('active');